/* @import url("https://fonts.googleapis.com/css2?family=DotGothic16&display=swap"); */

* {
  margin: 0;
  padding: 0;
}

:root {
  --main-bg-color: #55aaaa;
  --sec-bg-color: #c3c7cb;
  --light-bg-color: #dedede;
  --text-color: #040505;
  --light-shadow-color: #fefefe;
  --dark-shadow-color: #828282;
}

/* Navigation Style */
#navbar {
  font-size: 16px;
  /* Font */
  font-family: "DotGothic16", sans-serif;
  /* Background, Shadows and Colors */
  background: var(--sec-bg-color);
  color: var(--text-color);
  /* Box Shadow */
  box-shadow: var(--dark-shadow-color) 0px 1px 0px,
    var(--light-shadow-color) 0px -1px 0px inset;
  /* Placement and display */
  display: flex;
  overflow: hidden;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Title Style*/
.page-title {
  font-size: 1rem;
}

/* Button Style */
.back-button {
  text-decoration: none;
  /* Padding Settings */
  padding: 0.25rem 0.25rem;
  margin-right: 2rem;
  border-top: 1px solid var(--light-shadow-color);
  border-left: 1px solid var(--light-shadow-color);
  border-right: 1px solid var(--dark-shadow-color);
  border-bottom: 1px solid var(--dark-shadow-color);
  box-shadow: var(--text-color) 1px 1px;
  text-transform: uppercase;
  color: var(--text-color);
  /* Setting minimum width for button */
  min-width: 5.25rem;
  text-align: center;
}

.back-button span:hover {
  border: 1px dotted var(--text-color);
}

.back-button span {
  /* Padding Settings */
  padding: 0 1.5rem;
}

.back-button:active {
  border-bottom: 1px solid var(--light-shadow-color);
  border-right: 1px solid var(--light-shadow-color);
  border-left: 1px solid var(--dark-shadow-color);
  border-top: 1px solid var(--dark-shadow-color);
  box-shadow: var(--text-color) 0px 1px 1px 0px inset;
  background-color: var(--light-bg-color);
}

.back-button span:active {
  border: 1px dotted var(--text-color);
}
